# Info from http://EditorConfig.org

# Supported Properties for VS CODE:
# indent_style
# indent_size
# tab_width
# end_of_line
# insert_final_newline
# trim_trailing_whitespace

# On the backlog:
# charset

# -------------SETTINGS----------------

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
[*.js]
indent_style = space
indent_size = 2
[*.py]
indent_style = space
indent_size = 4
[Makefile]
indent_style = tab
# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2
# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
